<div class="d-flex justify-content-center">
  <form action="/restaurants" method="POST" class="d-flex flex-column mb-4 mt-4" style="width:200px;">
    <input type="text" placeholder="name" name="name" class="mb-1">
    <input type="text" placeholder="image-link" name="image" class="mb-1">
    <input type="text" placeholder="category" name="category" class="mb-1">
    <input type="text" placeholder="rating" name="rating" class="mb-1">
    <input type="text" placeholder="phone" name="phone" class="mb-1">
    <input type="text" placeholder="location" name="location" class="mb-1">
    <input type="text" placeholder="google_map" name="google_map" class="mb-1">
    <input type="text" placeholder="description" name="description" class="mb-1">
    <div class="d-flex justify-content-end">
      <button type="submit" style="width:100px;">Create</button>
    </div>

  </form>
</div>